<h1 align="center">Listing comments</h1>
 <table border="1px" bgcolor="yellow" align="center">
  <tr>
    <th>commenter</th>
    <th>body</th>
    <th>article id</th>
    
  </tr>
 <% @comments.each do |comment| %>
    <tr>
      <td><%= comment.commenter %></td>
      <td><%= comment.body %></td>
      <td><%=comment.article_id %></td>
  
      <td><%= link_to 'Show', article_comment_path(comment.article_id,comment) %></td>
      <td><%= link_to 'Edit', edit_article_comment_path(comment.article_id,comment) %></td>
     <td><%= link_to 'Destroy', article_comment_path(comment.article_id,comment),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<%#= link_to 'New comment', new_article_comment_path(comment.article_id) %>
<!-- <a href="/articles/new">new block</a> -->