<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body bgcolor="#B3B6B7">
  <%=image_tag("logos/11.jpg", width: '100%', height: '150px') %>
   <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
       
    <div id="user_nav">
    <table border="2px" align="center">
    <tr>
    <td>
      <% if user_signed_in? %>
        Signed in as <h4> <%= current_user.firstname %> <%= current_user.lastname %><%= current_user.address %></h4><%= current_user.email %>. Not you?
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
      <% end %>
      </td>
      </tr>
      </table>
    </div>
  

    <%= yield %>
  </body>
</html>
